<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Type:</b>
  <%= @club.type %>
</p>

<p>
  <b>Address:</b>
  <%= @club.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @club.lat %>
</p>

<p>
  <b>Longitude:</b>
  <%= @club.lng %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Home page', root_path %>
