<%= form_tag '/userlocations/do_location' do %>
	<div class="field">
		<%= label_tag 'address' %><br />
		<%= text_field_tag 'address' %>
	</div>
	<div class="field">
		<%= label_tag 'distance' %><br />
		<%= text_field_tag 'distance' %>
	</div>
	<div class="actions">
		<%= submit_tag 'Create' %>
	</div>
<% end %>